<div class="wrapper">
    <aside>
        <section class="profil">
            <img src="assets/image/profile_picture.png">
        </section>
        <nav class="menu">
            <a href="#">Expériences</a>
            <a href="#">Formations</a>
            <a href="#">Compétences</a>
            <a href="#">Vie Personnelle</a>
        </nav>
    </aside>
    <main>
        main
    </main>
</div>
