
.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 10px;
  padding: 0 20px;

  aside {
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    .profil {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      img {
        width: 50%;
        border-radius: 50%;
        box-shadow: black 0 0 5px;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 90%;
      border: 1px solid black;
    }
  }

  main {
    border: 1px solid black;
    height: 90%;
    display: flex;
  }
}
